<header id="full">
<div class="abs-back"></div>
<div class="wel">
<div class="wel-info">

<h1>Bootstrap About Us Page Design</h1>
<span class="brk"></span>
<p>A customized about us page design using bootstrap framework, HTML and CSS. If you need to use this attractive and responsive bootstrap about us page design go back to article and click download button to download it.</p>

</div>
</div>
</header>

<div class="container who-we">

<div class="wel-info text-center">

<h2>Who We Are?</h2>
<span class="brk"></span>
<p>A customized about us page design using bootstrap framework, HTML and CSS. If you need to use this attractive and responsive bootstrap about us page design go back to article and click download button to download it.</p>

</div>
</div>
